[submodule "external/libadx-nds"]
	path = external/libadx-nds
	url = https://github.com/headshot2017/libadx-nds.git
[submodule "external/PPX"]
	path = external/PPX
	url = git@github.com:insicure/PPX.git
